/** debug on next.config.mjs**/
$color-primary: #f8cfe3;
$color-secondary: #200e78;
$border-color: #350cc9;
$text-color: #6d4747;
$gradient: linear-gradient(270deg, #3f4051, #581b2d);
$main-contrast: #49081c;

/** debug on next.config.mjs**/
@import "variables.scss";

body{
  margin: 0;
  padding: 0;
  background: $color-primary;
  color: $text-color;
}